@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes enter-from-down {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes enter-from-top {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes enter-opacity {
    from {
        opacity: 0;
    }
}

@keyframes leave-opacity {
    to {
        opacity: 0;
    }
}

@keyframes leave-to-down {
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes leave-to-top {
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
